/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  
  #maintext {
    font-family: fantasy;
  }
  
  
  @media only screen and (min-width: 400px) {
    .drink {width: 180px; margin-left: 10px; margin-right: 10px;}
  }
  
  @media only screen and (min-width: 600px) {
    .drink {width: 250px;}
  }
  
  @media only screen and (min-width: 800px) {
    .drink {width: 400px;}
  }